html, body{
    margin: 0;
    padding: 0;
}


.home_pic{
    background: url(../img/main_pics/mainPic6.jpg);
    background-size: cover;
    width: 100%;
    height: 95vh;
    padding-top: 18vh;
    padding-left: 5vw;
}
.pic_text{
    width: 60vw;
    height: 20vh;
}


#search{
    margin-left: 2vw;
}
.all_tours{
    grid-template-columns: repeat(3, 1fr);
    gap: 2vh;
    width: 60vw;
}


.booking-image{
    width: 50%;
}


.mb_for_normal_footer{
    margin-bottom: 40vh;
}


.about_pic{
    background: url(../img/about_pics/office.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 70vh;
    padding-top: 62vh;
}

.promises_pics{
    max-width: 50vw;
}

.documents{
    background: #e7e7e7;
}
.document{
    max-width: 50vw;
}



@media screen and (max-width: 750px) {
    .pic_text{
        width: 75vw;
        height: 23vh;
    }
    
    .filter{
        flex-wrap: wrap;
    }
    #search{
        margin-top: 3vh;
    }


    .booking{
        flex-direction: column;
    }
    .booking-image{
        width: 100vw;
        margin-bottom: 2vh;
    }


    .promise{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    .promises_pics{
        max-width: 100%;
    }
    
    .document{
        max-width: 75vw;
    }
}