html, body{
    margin: 0;
    padding: 0;
}

.home_pic{
    background: url(../img/main_pics/mainPic6.jpg);
    background-size: cover;
    width: 100%;
    height: 95vh;
    padding-top: 18vh;
    padding-left: 5vw;
}
.pic_text{
    width: 60vw;
    height: 20vh;
}

.all_tours{
    grid-template-columns: repeat(3, 1fr);
    gap: 2vh;
    width: 60vw;
}

.booking-image{
    width: 50%;
}

@media screen and (max-width: 750px) {
    .booking{
        flex-direction: column;
    }
    .booking-image{
        width: 100vw;
        margin-bottom: 2vh;
    }
}